.shopping-list {
	li {
		display: block;
		padding: 0 10px;
		&:nth-child(even) {
			background: $darkcolor;
		}
	}
}

.your-cart {
	font-size: 16px;
	line-height: 1.4;
	font-weight: normal;
	margin-bottom: 0;
	@media screen and (min-width: $mobile-small) {
		font-size: 18px;
		font-weight: bold;
	}
}

.article {
	display: block;
	padding: 10px 0;
	color: $medium-gray;
	.count {
		padding-left: 24px;
	}
}

.article-in-shop {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid #3d3d3d;
	color: $medium-gray;
	font-weight: bold;
	&__number {
		padding-left: 10px;
	}
}

.finalprice {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
	@media screen and (min-width: $mobile-small) {
		text-align: left;
	}
	&__title {
		color: $maincolor;
	}
	.line {
		display: block;
		padding: 0 10px;
		text-decoration: line-through;
		font-weight: normal;
		font-size: 16px;
		color: $lightcolor;
		@media screen and (min-width: $mobile-small) {
			display: inline;
		}
	}
}